*{
    padding: 0;
    margin:0;
    text-decoration: none;
}
.wrapper{
    max-width: 1024px;
    margin:20px auto;
}
.img{
    float: right;
}
h2{
    text-align: center;
}
h1{
    margin-left: 170px;
}
ul{
    margin-left: 230px;
}